@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|Droid+Serif:regular,italic,bold,bolditalic&subset=latin);

html,
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, img, strong, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form,
label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside,
details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  color: #777;
  background-color: #ececec;
  font-family: 'Droid Sans', 'Helvetica', 'Verdana', sans-serif;
}

.loginbox {
    background-color: #FFFFFF;
    position: relative;
    width: 840px;
    height: 300px;
}

.loginbox .leftpane {
    border: 2px #A40000 solid;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 47%;
    height: 90%;
}

.loginbox .rightpane {
	border: 2px #A40000 solid;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 47%;
    height: 90%;
    overflow: hidden;
    text-align: center;
}

.loginbox .content{
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin:auto;
    text-align: left;
}

.loginbox #splogo{
}


.loginbox #clippedsplogoX {
    width: 350px;
}

.loginbox #clippedsplogoY {
    height: 147px;
}

.loginbox #spName{
    padding-top:5px;
    padding-bottom:5px;
    font-size:1.2em;
}

.loginbox #spDescription{
    padding-top:15px;
    text-align:left;
}

h1, h2, h3, h4, h5, h6, a {
    color: #009BC2;
    text-decoration: none;
}

a:hover {
    color: #777 !important;
    text-decoration: underline;
}
