<!DOCTYPE html>
<html>
  <head>
    <title>IT Lab Login</title>
    <link rel="stylesheet" type="text/css" href="/idp/login.css"/>
  </head>

  <body id="homepage"
        onload="document.login.username.focus();">
    
    <h1>IT Lab Login</h1>

    <p>
      You will need to download or link to the metadata for this IdP at 
      <a href='https://idp.itlab.stanford.edu/idp/profile/Metadata/SAML'>https://idp.itlab.stanford.edu/idp/profile/Metadata/SAML</a>
    </p>
    <p>
      Here are sample <em>SessionInitiator</em> and
      <em>MetadataProvider</em> sections for your
      <em>shibboleth2.xml</em> configuration file:
    </p>
    <pre>
  &lt;SessionInitiator type="Chaining" Location="/DIRECT/ITLab" isDefault="true"
                    id="itlab" entityID="https://idp.itlab.stanford.edu/idp/shibboleth"&gt;
    &lt;SessionInitiator type="SAML2" acsIndex="1"
                      template="bindingTemplate.html"/&gt;
    &lt;SessionInitiator type="Shib1" acsIndex="5"/&gt;
  &lt;/SessionInitiator&gt;

  &lt;MetadataProvider type="XML"
                    uri="https://idp.itlab.stanford.edu/idp/profile/Metadata/SAML"
                    backingFilePath="itlab-metata.xml" reloadInterval="7200"&gt;
  &lt;/MetadataProvider&gt;
    </pre>

    <p>
      This should work for Shibboleth 2.4 and later SPs instead of the
      SessionInitiator entry above.
    </p>
    <pre>
  &lt;SSO entityID="https://idp.itlab.stanford.edu/idp/shibboleth"&gt;
    SAML2 SAML1
  &lt;/SSO&gt;
    </pre>

    <p>
      Unlike our production IdP, this service does not require metadata
      for your SP. <strong>Your SP metadata will be required to move to
      production</strong>.
    </p>

    <div class="loginbox">
      <div class="leftpane">
        <div class="content">

          [% IF notdefined %]
<!--
This is the template for the WebAuth login page. This page is called
from login.fcgi script on the weblogin server. It displays a form
asking the user for username and password. Variables used:

error                  : some error occurred
err_missinginput       : one of username or password missing
err_username           : no username error
err_password           : no password error
err_loginfailed        : username and password were incorrect
err_forced             : web site requires username/password login
err_rejected           : username not permitted to authenticate
RT                     : Response Token
ST                     : Service Token
username               : the username
login_cancel           : a cancel URL was specified
cancel_url             : the specified cancel URL
show_remuser           : show a button for REMOTE_USER authentication
remuser_failed         : REMOTE_USER authentication was tried and failed
remuser_url            : where to send the user for REMOTE_USER auth
-->
          [% END %]

          [% IF error %]
            <div class="error" align="center">
              <p><strong>
                [% IF err_username && err_password %]
                  <!-- Error: no username or password submitted. -->
                  Error: Enter your username and password.
                [% ELSIF err_username %]
                  <!-- Error: no username submitted. -->
                  Error: Enter your username.
                [% ELSIF err_password %]
                  <!-- Error: no password submitted. -->
                  Error: Enter your password.
                [% END %]

                [% IF err_loginfailed %]
                  <!-- Error: login failed. -->
                  Error: You entered an incorrect username or password
                  (or both).
                [% END %]

                [% IF err_rejected %]
                  <!-- Error: user principal rejected. -->
                  Error: That username may not authenticate to this
                  service.
                [% END %]

                [% IF err_forced %]
                  <!-- Not really an error, forced login. -->
                  This web site requires that you log in with username
                  and password.
                [% END %]
              </strong></p>
              <p>Click <a href="/help.html">help</a> for assistance.</p>
            </div>
          [% END %]

          [% IF remuser_failed %]
            <div class="error" align="center">
              <p><strong>Error: Apache authentication was tried and
                failed.</strong></p>
            </div>
          [% END %]

          <form name="login"
                action="[% script_name FILTER html %]"
                method="post"
                autocomplete="OFF"
                enctype="application/x-www-form-urlencoded">
            <input  type="hidden" name="rm" value="index">
            <input  type="hidden" name="RT"
                    value="[% RT FILTER html %]">
            <input  type="hidden" name="ST"
                    value="[% ST FILTER html %]">
            <input  type="hidden" name="login" value="yes">

            <table>
              <tr>
                <td width="40%">
                  <label for="username">Username:</label>
                </td>
                <td>
                  <input  name="username"
                          type="text"
                          value="[% username FILTER html %]"
                          size="18" />
                </td>
              </tr>
              <tr>
                <td>
                  <label  for="password">Password:</label>
                </td>
                <td>
                  <input  name="password"
                          type="password"
                          size="18" />
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <input type="submit" name="submit" value="Login" />
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>

      <div class="rightpane">
        <div class="content">
          <p>
            There are three test users available on this IdP:
          </p>
          <ul>
            <li><em>jane</em> - Jane Stanford, faculty</li>
            <li><em>leland</em> - Leland Stanford, staff</li>
            <li><em>lelandjr</em> - Leland Stanford, Jr, student</li>
          </ul>
          <p>
            Each account has the same password: <em>stanford</em>
          </p>
          <p>
            Logging in as any of these users will return an assertion
            to your SP similar to the ones that are released from the
            production IdPs.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
